html {
  font-size: 100%;
}

body {
  min-height: 100%;
  width: 50%;
  margin: auto;
  box-shadow: 0px 0px 3px 0px grey;
  font-family: "Arial", sans-serif;
}
@media screen and (max-width: 1700px) {
  body {
    width: 65%;
  }
}
@media screen and (max-width: 1500px) {
  body {
    width: 75%;
  }
}
@media screen and (max-width: 1300px) {
  body {
    width: 85%;
  }
}
@media screen and (max-width: 1100px) {
  body {
    width: 100%;
  }
}

a {
  text-decoration: none;
  outline-style: none;
}

.footer {
  position: sticky;
  bottom: 0;
}

.header {
  background-color: #579C87;
  text-align: center;
  height: 10rem;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  flex-direction: row;
}
.header__logo {
  font-size: 4rem;
  margin: auto;
  letter-spacing: -0.3rem;
}
.header__logo a {
  color: #FDCB46;
}

.main {
  margin: 7% 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
}
@media screen and (max-width: 599px) {
  .main {
    margin: 7% 0;
    flex-direction: column;
  }
}
.main > p {
  width: 100%;
}
.main .shortly {
  margin: auto;
  background-color: #579C87;
  color: #FDCB46;
  border-radius: 12px;
  text-align: center;
  width: 50%;
}
.main .shortly__text {
  font-size: 1.75rem;
  margin: 1rem auto;
}
@media screen and (max-width: 599px) {
  .main .shortly__text {
    font-size: 1.2rem;
  }
}
.main .shortly__text span {
  opacity: 1;
  animation: write 0.9s infinite;
}
.main .shortly__text span:nth-child(1) {
  animation-delay: 0s;
}
.main .shortly__text span:nth-child(2) {
  animation-delay: 0.2s;
}
.main .shortly__text span:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes write {
  100% {
    opacity: 0;
  }
}
.article-menu {
  margin-bottom: 3rem;
}
.article-menu__header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  flex-direction: row;
  margin: 2.5rem 2.5rem 1rem 2.5rem;
}
.article-menu__header img {
  margin: auto 0;
}
.article-menu__header h3 {
  margin: 0 auto;
}
.article-menu__header h3::after {
  content: "";
  display: block;
  border-bottom: solid 2px;
  width: 100%;
  max-width: 0;
  transition: max-width, 200ms linear;
}
.article-menu__header h3:hover::after {
  max-width: 100%;
}
.article-menu__list {
  text-align: left;
  list-style: none;
  margin-right: 2.5rem;
}
.article-menu__list li {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  flex-direction: row;
  width: 100%;
  margin-bottom: 1.2rem;
}
.article-menu__list span {
  text-align: right;
  flex-grow: 1;
  font-weight: bold;
}

.main-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  text-align: center;
}
.main-menu__title {
  width: 75%;
  margin-top: 4rem;
}
.main-menu .section-menu {
  box-shadow: 0px 0px 3px 0px grey;
  margin-bottom: 3rem;
}
.main-menu .section-menu h2 {
  margin: 0.5rem 0 4rem 0;
}
.main-menu .section-menu__footer {
  margin-top: 3.5rem;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: row;
}
@media screen and (max-width: 599px) {
  .menu {
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 15%;
  }
}
.menu a {
  width: 40%;
  margin: 0 auto 3rem auto;
}
.menu a:nth-child(1) {
  background-color: #fcdfdb;
  color: #3C1218;
  font-family: "Devonshire";
  font-size: 1rem;
}
.menu a:nth-child(1) p {
  font-family: "Segoe Print", sans-serif;
  text-transform: uppercase;
  font-size: 2rem;
}
.menu a:nth-child(2) {
  background-color: #fff5fe;
  color: #c16800;
  font-family: "Croissant One";
  font-size: 1rem;
}
.menu a:nth-child(2) p {
  font-family: "Baskerville", serif;
  font-size: 2rem;
}
.menu a:nth-child(3) {
  background-color: #f9f9f9;
  color: #0887fb;
  font-family: "Dancing Script";
  font-size: 1rem;
}
.menu a:nth-child(3) p {
  font-family: "Segoe Print", sans-serif;
  font-size: 2rem;
}
.menu a:nth-child(4) {
  background-color: #fdfffd;
  color: #72bf56;
  font-family: "Kaushan Script";
  font-size: 1rem;
}
.menu a:nth-child(4) p {
  font-family: "Segoe Print", sans-serif;
  font-size: 2rem;
}
@media screen and (max-width: 599px) {
  .menu a {
    margin: 5% 0;
    width: 100%;
  }
}
.menu .article {
  width: 100%;
  height: 25rem;
  box-shadow: 0px 0px 3px 0px grey;
  text-align: center;
  opacity: 1;
  transition: opacity, 400ms;
}
.menu .article:hover {
  opacity: 0.5;
}
.menu .article div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  transition: transform, 400ms;
}
.menu .article div:hover {
  transform: scale(1.15);
}
.menu .article img {
  width: 50px;
  height: 50px;
  margin: 0 auto;
}
.menu .article h2 {
  text-align: center;
  font-weight: normal;
  margin-bottom: 2rem;
  padding: 0 1rem;
}
.menu .article p {
  margin: 0;
}
.menu .article__chic h2 {
  background: linear-gradient(to right, #FF8C00, #9966FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.1rem;
}
.menu .article__delice h2 {
  background: linear-gradient(to right, #0000CD, #00BFFF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu .article__palette h2 {
  background: linear-gradient(to right, #41963c, #bcfd7e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.mentions {
  padding: 1rem;
}
.mentions__title {
  text-align: center;
}
.mentions .article-mentions ul {
  list-style: none;
  padding: 0;
}
.mentions .article-mentions ul li {
  margin-bottom: 2rem;
}

.main--note .section-menu {
  background-color: #fcdfdb;
  color: #3C1218;
}
.main--note .section-menu__header {
  font-family: "Devonshire", sans-serif;
  font-size: 1.5rem;
}
.main--note .section-menu__header img {
  margin-top: 3rem;
  width: 70px;
  height: 70px;
}
.main--note .section-menu__header h2 {
  margin-top: 0;
  font-size: 3rem;
}
.main--note .section-menu .article-menu {
  font-family: "Segoe Print";
}
.main--note .section-menu .article-menu__header img {
  width: 33%;
}
.main--note .section-menu .article-menu__header h3 {
  font-size: 1.5rem;
}
.main--note .section-menu .article-menu__list {
  font-size: 0.9rem;
}
.main--note .section-menu .article-menu__list span {
  font-size: 1rem;
}
.main--note .section-menu__footer {
  font-family: "Devonshire", sans-serif;
  font-size: 2rem;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 3.5rem;
}
.main--note .section-menu__footer img {
  width: 37px;
  height: 37px;
  margin: auto 1rem auto 0;
}

.main--chic .section-menu {
  background-color: #fff5fe;
  font-family: "Croisant One", serif;
}
.main--chic .section-menu__header {
  background: linear-gradient(to right, #FF8C00, #9966FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 6rem auto;
  font-family: "Croissant One", serif;
  font-size: 1.4rem;
}
.main--chic .section-menu .article-menu:nth-child(1) {
  color: #c16800;
}
.main--chic .section-menu .article-menu:nth-child(2) {
  color: #975089;
}
.main--chic .section-menu .article-menu:nth-child(3) {
  color: #5d39c6;
}
.main--chic .section-menu .article-menu__header {
  margin: 2.5rem 0;
  padding: 0 1rem;
}
.main--chic .section-menu .article-menu__header img {
  width: 33%;
  height: 50%;
}
.main--chic .section-menu .article-menu__header .right {
  transform: scaleX(-1);
}
.main--chic .section-menu .article-menu__list {
  margin: 0 7rem 4rem 5rem;
}
@media screen and (max-width: 599px) {
  .main--chic .section-menu .article-menu__list {
    margin: 0 2rem 4rem 1rem;
  }
}
.main--chic .section-menu .article-menu__list span {
  font-weight: normal;
  font-size: 1.1rem;
}

.main--delice .section-menu {
  background-color: #f9f9f9;
  font-family: "Dancing Script", sans-serif;
}
.main--delice .section-menu__header {
  background: linear-gradient(to right, #0000CD, #00BFFF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2rem;
  margin: 6rem auto;
}
.main--delice .section-menu .article-menu {
  font-family: "Segoe Print";
}
.main--delice .section-menu .article-menu__header .left {
  transform: scaleX(-1);
}
.main--delice .section-menu .article-menu__header img {
  width: 35%;
}
.main--delice .section-menu .article-menu__header h3 {
  font-size: 1rem;
  font-weight: normal;
}
.main--delice .section-menu .article-menu__list {
  margin: 0 7rem 3rem 5rem;
  font-size: 0.9rem;
}
@media screen and (max-width: 599px) {
  .main--delice .section-menu .article-menu__list {
    margin: 0 2rem 3rem 1rem;
  }
}
.main--delice .section-menu .article-menu__list li {
  margin-bottom: 0.8rem;
}
.main--delice .section-menu .article-menu__list span {
  font-weight: normal;
  font-size: 1.05rem;
}

.main--palette .section-menu {
  background-color: #fdfffd;
}
.main--palette .section-menu__header {
  font-family: "Kaushan Script";
  background: linear-gradient(to right, #41963c, #bcfd7e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.3rem;
  margin: 6rem auto;
}
.main--palette .section-menu .article-menu {
  font-family: "Segoe Print";
}
.main--palette .section-menu .article-menu__header .left {
  transform: scaleX(-1);
}
.main--palette .section-menu .article-menu__header img {
  width: 37%;
  height: 50%;
  margin: auto 0;
}
.main--palette .section-menu .article-menu__header h3 {
  font-size: 1rem;
  font-weight: normal;
}
.main--palette .section-menu .article-menu__list {
  margin: 0 6rem 3rem 3.5rem;
  font-size: 0.9rem;
}
@media screen and (max-width: 599px) {
  .main--palette .section-menu .article-menu__list {
    margin: 0 2rem 3rem 1rem;
  }
}
.main--palette .section-menu .article-menu__list li {
  margin-bottom: 0.8rem;
}

.footer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  flex-direction: row;
  background-color: #579C87;
  height: 4rem;
}
.footer a {
  margin: auto 2rem;
  color: #FDCB46;
  font-size: 1.5rem;
}
@media screen and (max-width: 599px) {
  .footer a {
    font-size: 0.99rem;
  }
}
.footer a:hover {
  display: inline-block;
  animation: wiggle 0.5s infinite;
}

@-webkit-keyframes wiggle {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

/*# sourceMappingURL=style.css.map */
