@import "../utils/variables";
@import "../utils/mixins";

.article-menu {
  &__header {
    @include display($flex);
    margin: 2.5rem 2.5rem;
    h2 {
      flex-grow: 1;
      margin: 0;
    }
  }
  &__list {
    text-align: left;
    list-style: none;
    margin-right: 2.5rem;
    li {
      @include display($flex);
      width: 100%;
      margin-bottom: 2.5rem;
    }
    span {
      text-align: right;
      flex-grow: 1;
      font-weight: bold;
    }
  }
}