@import "../utils/variables";
@import "../utils/lists";
@import "../utils/mixins";

.main--chic {
  .section-menu {
    background-color: nth($color-menu,2);
    font-family: "Croisant One", serif;
    &__header {
      @include gradientText(to right, nth($colorGradMenuChic,1), nth($colorGradMenuChic,2));
      margin: 6rem auto;
      font-family: "Croissant One", serif;
      font-size: nth($menuChicFontSize,1);
    }

    .article-menu {
      @include colorText($colorTextMenuChic);
      &__header {
        margin: 2.5rem 0;
        padding: 0 1rem;
        img {
          width: 33%;
          height: 50%;
        }
        .right {
          transform: scaleX(-1);
        }
      }
      &__list {
        margin : 0 7rem 4rem 5rem;
        @include mobileOnly($mobileSize) {
          margin : 0 2rem 4rem 1rem;
        }
        span {
          font-weight: normal;
          font-size: nth($menuChicFontSize,2);
        }
      }
    }
  }
}