@import "../utils/variables";
@import "../utils/lists";
@import "../utils/mixins";

.section-menu {
  &__header {
    font-size: nth($menu4FontSize, 1);
    margin: 6rem auto;
  }
  .article-menu {
    &__header {
      img {
        width: 38%;
        height: 50%;
        margin: auto 0;
      }
      h2{
        font-size: nth($menu4FontSize, 2);
        font-weight: normal;
      }
    }
    &__list {
      margin: 0 7rem 3rem 5rem;
      @include mobileOnly($mobileSize) {
        margin: 0 2rem 3rem 1rem;
      }
      font-size: nth($menu4FontSize, 3);
    }
  }
}