$margin-size : 0, auto, 1rem;/*3 = margin shortly text*/
$width-size : 33%, 40%, 50%, 100%;
$height-size : 100%, 10rem;
$font-size : 4rem, 1.75rem;/*1 = logo, 2 = shortly text*/
$box-shadow : 0px 0px 3px 0px grey;