@import "variables";

@mixin display($display : $flex, $wrap : $default-wrap, $justify-content : $flex-start, $flex-dir : $default-flexdir) {
  display: $display;
  @if ($display == $flex) {
    flex-wrap: $wrap;
    justify-content: $justify-content;
    flex-direction: $flex-dir;
  }
}