@import "variables";
@import "lists";

@mixin display($display : $flex, $wrap : $default-wrap, $justify-content : $flex-start, $flex-dir : $default-flexdir) {
  display: $display;
  @if ($display == $flex) {
    flex-wrap: $wrap;
    justify-content: $justify-content;
    flex-direction: $flex-dir;
  }
}

@mixin gradientText($color, $size) {
  color: linear-gradient($color $size, $color $size);
}

@mixin colorMenu() {
  @for $i from 1 through length($color-menu) {
    &__#{$i} {
        background-color: nth($color-menu, $i);
    }
  }
}