@import "../utils/variables";
@import "../utils/lists";
@import "../utils/mixins";

.footer {
  @include display($flex, $default-wrap, space-between);
  background-color: $background-color;
  height: nth($height-size, 3);
  a{
    margin: auto nth($margin-size, 4);
    color: $color-text;
    font-size: nth($font-size, 3);
    @include mobileOnly($mobileSize) {
      font-size: nth($fontSizeMobile, 2);
    }
    &:hover {
      display: inline-block;
      animation: wiggle 0.5s infinite;
    }
  }
}

@keyframes wiggle {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}